.card{
    font-family: 'Poppins';
    .card-title{
        font-size:14px;
    }
    .card-text{
        font-size:14px;
    }
    .btn-common{
        background:#538eb4;
        color:#fff;
        font-size:14px;
        &:hover{
          background:#4E6879;
          color:#fff;
        }
      }
  
     .black-btn{
      background: black;
      color: white;
      font-size:14px;
      &:hover{
          background:#323232;
          color:#fff;  
      }
     }
}
.btn-trash{
position: absolute;
right: 8px;
top: 4px;
}
