<!--profile page-->
<div class="container">
  <div class="row">
    <div class="col-md-12 px-0">
      <div class="card card-outline-secondary">
        <div class="card-body">
          <div class="d-flex profile-header mb-3">
            <h4 class="mb-3">Personal Information</h4>
            <div class="d-flex">
              <button type="button" class="btn btn-default ml-2 edit-icon">
                <i class="fas fa-pencil"></i>
              </button>
              <button type="button" aria-label="Close" class="close close-icon pull-right">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          </div>

          <form class="profile-form">
            <div class="row">
              <div class="col-sm-6 pb-3">
                <label for="exampleFirst">First Name</label>
                <input class="form-control" id="exampleFirst" type="text">
              </div>

              <div class="col-sm-6 pb-3">
                <label for="exampleLast">Last Name</label>
                <input class="form-control" id="exampleLast" type="text">
              </div>

              <div class="col-sm-6 pb-3">
                <label for="exampleCity">Email Address</label>
                <input class="form-control" id="exampleCity" type="text">
              </div>

              <div class="col-sm-6 pb-3">
                <label for="exampleZip">Mobile Number</label>
                <input class="form-control" id="exampleZip" type="number">
              </div>

              <div class="col-md-6 pb-3">
                <label for="address">Address</label>
                <textarea class="form-control" id="address" rows="2"></textarea>
              </div>

              <div class="col-sm-6 pb-3">
                <label for="exampleZip">Postal Code</label>
                <input class="form-control" id="exampleZip" type="text">
              </div>

              <div class="col-sm-6 pb-3">
                <label for="exampleCity">City</label>
                <input class="form-control" id="exampleCity" type="text">
              </div>

              <div class="col-sm-6 pb-3">
                <label for="exampleSt">State</label>
                <select class="form-control custom-select" id="exampleSt">
                  <option class="text-white bg-warning">
                    Pick a state
                  </option>
                  <option value="AL">
                    Uttar Pradesh
                  </option>
                  <option value="AK">
                    Madhya Pradesh
                  </option>
                  <option value="AZ">
                    Uttarkhand
                  </option>
                  <option value="AR">
                    Delhi
                  </option>
                </select>
              </div>
            </div>
          </form>
        </div>

      </div>
      <!--/card-->
    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->



