<div class="container">
    <div class="row">
      <div class="col-md-12 px-0">
        <div class="card card-outline-secondary">
            <div class="d-flex contact-header">
                <label>Contact Us</label>
                <p>Please get in touch and our support team will answer all your questions.</p>
              </div>
          <div class="card-body">
            <form class="contact-form">
              <div class="row">
                <div class="col-sm-6 pb-3">
                  <label for="exampleFirst">First Name</label>
                  <input class="form-control" id="exampleFirst" type="text">
                </div>
  
                <div class="col-sm-6 pb-3">
                  <label for="exampleLast">Last Name</label>
                  <input class="form-control" id="exampleLast" type="text">
                </div>
  
                <div class="col-sm-6 pb-3">
                  <label for="exampleCity">Email Address</label>
                  <input class="form-control" id="exampleCity" type="text">
                </div>
  
                <div class="col-sm-6 pb-3">
                  <label for="exampleZip">Mobile Number</label>
                  <input class="form-control" id="exampleZip" type="number">
                </div>
  
                <div class="col-md-12 pb-3">
                  <label for="address">Message</label>
                  <textarea class="form-control" id="address" rows="2"></textarea>
                </div>

                <div class="col-md-12">
                    <label for="address">Additional Details</label>
                    <textarea class="form-control" id="address" rows="4"></textarea>
                  </div>
                 <button type="submit" class="w-100 btn query-btn m-3">Send Message</button>

              </div>
            </form>
          </div>
  
        </div>
        <!--/card-->
      </div>
      <!--/col-->
    </div>
    <!--/row-->
  </div>
  <!--/container-->
