<div class="col-md-6 col-xl-4 col-xs-12 mt-40 py-5 mx-auto form-container">
  <form #registrationForm="ngForm">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="registrationData.name" #name="ngModel" required/>
      <div *ngIf="name.invalid && submitted" class="invalid-feedback show">
        <div *ngIf="name?.errors?.required">Name is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label>Email Address</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="registrationData.email" #email="ngModel" required/>
      <div *ngIf="email.invalid && submitted" class="invalid-feedback show">
        <div *ngIf="email?.errors?.required">Email is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="registrationData.password" #password="ngModel" required/>
      <div *ngIf="password.invalid && submitted" class="invalid-feedback show">
        <div *ngIf="password?.errors?.required">Password is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="text" class="form-control" name="confirmPassword" [(ngModel)]="registrationData.confirmPassword" #confirmPassword="ngModel" required/>
      <div *ngIf="confirmPassword.invalid && submitted" class="invalid-feedback show">
        <div *ngIf="confirmPassword?.errors?.required">Confirm password is required.</div>
      </div>
      <div *ngIf="confirmPassword.value !== password.value && submitted" class="invalid-feedback show">
        Password & confirm password should match
      </div>
    </div>
    <div class="form-group d-flex justify-content-between">
      <button type="button" class="btn btn-common" (click)="save(registrationForm.form)">Submit</button>
    </div>
  </form>
</div>
