<div class="col-12 pt-4">
  <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary mb-3" (click)="openModal()">Add</button>
  </div>
  <div class="card mb-3 pt-3 mr-xl-3 col-12 col-md-4 col-xl-3">
      <a href="" class="card-link">
        <img src="../../../../../assets/images/img1.jpeg" class="card-img-top" alt="...">
        </a>
        <div class="card-body px-0">
            <h5 class="card-title">Painting name</h5>
            <p class="card-text mb-0"><small class="text-muted">by artist name</small></p>
            <p class="card-text">Price 120000</p>
            <div class="d-flex">
            <button type="button" class="btn btn-outline-primary mr-auto"><img class="img-icon" src="../../../../../assets/icons/heart.svg" alt=""></button>
            <button type="button" class="btn btn-outline-primary mr-2" (click)="openPaintingModal()">Quick review</button>
            <button type="button" class="btn btn-outline-primary"><img class="img-icon" src="../../../../../assets/icons/shopping-cart.svg"></button>
          </div>
      </div>
  </div>
  </div>

  


  <!-- listing painting for edit and delete -->
    <!-- <div class="card mb-3 col-12">
        <div class="row no-gutters">
          <div class="col-md-2 col-xl-2 col-6">
            <img src="../../../../../assets/images/img1.jpeg" class="card-img p-3" alt="...">
           
          </div>
          <div class="col-md-10 col-xl-10 col-12">
            <div class="card-body d-flex flex-wrap">
              <div class="col-md-4 col-12">
                  <h5 class="card-title">Painting name</h5>
                  <p class="card-text mb-0"><small class="text-muted">artist name</small></p>
                  <p class="card-text mb-0"><small class="text-muted">type</small></p>
                  <p class="card-text mb-0"><small class="text-muted">size</small></p>
                 
              </div>
              <div class="col-md-4 col-12">
                  <p class="card-text mb-0"><small class="text-muted">material</small></p>
                  <p class="card-text mb-0"><small class="text-muted">medium</small></p>
                  <p class="card-text mb-0"><small class="text-muted">created on</small></p>
                  <p class="card-text mb-0"><small class="text-muted">updated on</small></p>
              </div>
              <div class="col-md-4 col-12">
                  <p class="card-text mb-0"><small class="text-muted">price</small></p>
                  <p class="card-text"><small class="text-muted">description</small></p>
                  <div class="d-flex">
                      <button type="button" class="btn btn-sm btn-outline-primary">Edit</button>
                      <button type="button" class="btn btn-sm btn-danger text-white ml-2">Delete</button>
                </div>
              </div>
              
              
          </div>
        </div>
      </div>
      
      </div> -->
     

  
