<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand text-uppercase" href="#">Tahani<sub>Arts</sub></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav" *ngIf="userLoggedIn; else NotLoggedIn">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="painting">Paintings</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="master-inventory">Master Inventory</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="registrations">Registrations</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <ng-template #NotLoggedIn>
    <ul class="navbar-nav">
      <li class="nav-item active">Login</li>
    </ul>
  </ng-template>
  