
<div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Painting</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted"></h6> -->
          <p class="card-text">description....</p>
          <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fin.pinterest.com%2Fpin%2F543317142527138262%2F&psig=AOvVaw2G_F28LiE_16m4ElqZliYo&ust=1613562543465000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCPCft5ir7u4CFQAAAAAdAAAAABAR" class="painting-img">
          <button type="button" class="btn btn-color">Buy</button>
          <button type="button" class="btn btn-color">Add to card</button>
        </div>
      </div>
