
<div class="modal-header">
    <h4 class="modal-title pull-left">Painting review</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../../../../../assets/images/img1.jpeg" class="card-img p-3" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Painting name</h5>
              <p class="card-text mb-0"><small class="text-muted"><b>By:</b> artist name</small></p>
              <p class="card-text"><small class="text-muted"><b>Created On:</b> 17 feb</small></p>
              <p class="card-text"><b>Size:</b> 12*20in 136*51cm</p>
              <p class="card-text"><b>Material:</b> paper</p>
              <p class="card-text"><b>Medium:</b> water color</p>
              <p class="card-text"><b>Type:</b> Abstract</p>
              <p class="card-text"><b>Description</b> ...This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><b>Price</b> 120000</p>
              
            <div class="d-flex flex-lg-row justify-content-end flex-column">
               <button type="button" class="btn btn-default mb-2 mr-lg-2 text-uppercase btn-common">Proceed to checkout</button>
                    <button type="button" class="btn btn-default mb-2 text-uppercase black-btn">Move to wishlist</button>
               </div>
          </div>
        </div>
      </div>
      <div class="btn-edit">
      <button type="button" class="btn btn-default ml-2"><i class="fas fa-pencil"></i></button>
      </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-common" (click)="close()">close</button>
  </div>
