.card{
    display: inline-block;
    .card-link{
      width:100%;
      img{
        max-width:100%;
       }
    }

    .select image{
        border: 1px solid #ddd;
        width: 60px;
        height: 60px;  
    }
    
    // icons img 
    .card-body{
        button{
            .img-icon{
                width:16px;
                height:16px;
            }
        }
    }

.cart-img{
    width:40px;
    height:40px;
}

}

.card{
    font-family: 'Poppins';
    .card-title{
        font-size:14px;
        font-family: 'Poppins';
    }
    .card-text{
        font-size:14px;
        font-family: 'Poppins';
    }
   
}
.btn-edit{
position: absolute;
right: 8px;
top: 4px;
}


.btn-common{
    background:#538eb4;
    color:#fff;
    font-size:14px;
    &:hover{
      background:#4E6879;
      color:#fff;
    }
  }

 .black-btn{
  background: black;
  color: white;
  font-size:14px;
  &:hover{
      background:#323232;
      color:#fff;  
  }
 }

 .fw-500{
font-weight:500;
font-size: 14px;
 }
.card-text{
    font-size: 14px;  
}