<table class="table">
    <thead class="thead-light">
      <tr>
        <th>Order Id</th>
        <th>Order Placed</th>
        <th>Ship To</th>
        <th>Order Status</th>
        <th>Payment Method</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>806-8456231-4566717</td>
        <td>7 March 2021</td>
        <td>tower-123 address tower-123 address</td>
        <td>ordered</td>
        <td>COD</td>
        <td>Rs.1500</td>
      </tr>
      <tr>
        <td>806-8456231-4566717</td>
        <td>7 March 2021</td>
        <td>tower-123 address</td>
        <td>ordered</td>
        <td>Amazon pay</td>
        <td>Rs.2500</td>
      </tr>
      <tr>
        <td>806-8456231-4566717</td>
        <td>7 March 2021</td>
        <td>tower-123 address</td>
        <td>ordered</td>
        <td>phone pe</td>
        <td>Rs.1500</td>
      </tr>
    </tbody>
  </table>