form{
    label{
        font-size: 12px;
        font-family: 'Poppins';
    }
    input{
        font-size: 12px;
        font-family: 'Poppins';
    }
    select{
        font-size: 12px;
        font-family: 'Poppins';   
    }
}
.modal-title{
    font-size: 14px;
    font-family: 'Poppins';     
}
.btn-secondary{
font-size:14px;
}
.btn-common{
    background:#538eb4;
    color:#fff;
    font-size:14px;
    &:hover{
      background:#4E6879;
      color:#fff;
    }
  }