/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
body, html {
    height: 100%;
    overflow: hidden;
  }
  
  .bg {
    /* The image used */
    // background-image: url("./assets/images/bg.jpg");
    // background-image: url("./assets/images/bg2.jpg");
    // background-image: url("./assets/images/bg3.jpg");
    // background-image: url("./assets/images/bg4.jpg");
   
  
    // /* Full height */
    height: 100%;
  
    // /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity:0.8;
    overflow: hidden;
  }

  form{  
      .btn-color{
        background-color: #4da5b3;
        color:white;
        &:hover{
            background-color: rgb(173 55 55 / 20%);
            color: white;
        }
      }
      .btn-link{
       color:#000;
       font-size:12px;
      }
  }
  .mt-40{
      margin-top:10% !important;
  }
  .form-container{
    height:100%;
    width:100%;
    background-color: rgb(4 1 1 / 20%);
    padding-bottom:80px;
   
}
.table thead th {
  border-bottom:none !important; 
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.nav-tabs{
  border-bottom:none !important;
}
.nav-items.active{
  border-bottom: 4px solid orange !important;
}

