
        <div class="h-100 d-flex">
            <aside class="col-md-2 p-0 bg-dark">
                <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
                    <div class="collapse navbar-collapse">
                        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                            <li class="nav-item">
                                <a class="nav-link pl-0" >Master Data</a>
                            </li>
                            ..
                        </ul>
                    </div>
                </nav>
            </aside>
            <main class="col-md-10">
                    <div class="table-responsive">
                            <table class="table">
                                    <thead>
                                            <tr>
                                              <th scope="col">#</th>
                                              <th scope="col">Id</th>
                                              <th scope="col">Name</th>
                                              <th scope="col">Type</th>
                                              <th scope="col">Action</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <th scope="row">1</th>
                                              <td>Ordered</td>
                                              <td>Ordered</td>
                                              <td>Order Status</td>
                                              <td><div>
                                                    <button type="button" class="btn btn-sm mr-2"><i class="fas fa-pencil"></i></button>
                                                    <button type="button" class="btn btn-sm  mr-2"><i class="fas fa-trash"></i></button>
                                              </div></td>
                                            </tr>
                                          </tbody>
                            </table>
                          </div>
            </main>
        </div>
    
