
       
            <div> 
                <tabset>
                  <tab heading="MasterData" id="tab1">
                      <div class="table-responsive card">
                          <table class="table mb-2">
                                         <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Id</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <th scope="row">1</th>
                                            <td>Ordered</td>
                                            <td>Ordered</td>
                                            <td>Order Status</td>
                                            <td><div>
                                                  <button type="button" class="btn btn-sm mr-2"><i class="fas fa-pencil"></i></button>
                                                  <button type="button" class="btn btn-sm  mr-2"><i class="fas fa-trash"></i></button>
                                            </div></td>
                                          </tr>
                                          
                                        </tbody>
                             </table>
                        </div>
                  </tab>
                </tabset>
              </div>
    
